<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fast-Food-Fast | Create Menu</title>
  <link rel="stylesheet" href="css/orders.css">
  <link rel="icon" type="image/png" href="img/logo.png">
  <script src="js/fetch/authorize-user.js"></script>
  <script src="js/fetch/jwt-decode.min.js"></script>
</head>

<body>
  <div class="dashboard">
    <div class="dashboard-menu">
      <div class="menu-top">
        <div class="welcome">
          <a href="menu.html"><img src="img/logo.png" alt="logo"></a>
          <span><a href="menu.html">Fast Food Fast</a> </span>
        </div>
        <a href="#">
          <div class="menu menu1">Add Item &#10148;</div>
        </a>
        <a href="menu-admin.html">
          <div class="menu menu1">All Food Items &#10148;</div>
        </a>
        <a href="orders-admin.html">
          <div class="menu menu2">All orders &#10148;</div>
        </a>
        <a href="#">
          <div class="menu menu2 logout">Logout &#10148;</div>
        </a>
      </div>
      <div class="menu-bottom"></div>
    </div>

    <div class="dashboard-content">

      <div class="toggle-menu" id="toggle-menu">
        <strong>options</strong><span>&#10149;</span>
      </div>

      <div class="dashboard-content-bg">
        <div class="pageAlert padAlertDiv"></div>
        <div class="page-title">ADD FOOD ITEM</div>
        <div class="add-food-item">
          <form id="postmenu">
            <label for="item">Food item: <span class="formAlert"></span></label>
            <input type="text" id="menu" class="menuItem" placeholder="Food item">
            <label for="description">Description: <span class="formAlert"></span></label>
            <input type="text" id="description" class="description" placeholder="Describe item">
            <label for="category">Category: <span class="formAlert"></span></label>
            <input type="text" id="category" class="category" placeholder="Category">
            <label for="imageURL">Image: <span class="formAlert"></span></label>
            <input type="file" accept="image/*" id="imageURL" class="imageURL">
            <div class="sub-input">
              <div class="price">
                <label for="price">Price: <span class="formAlert"></span></label>
                <input type="number" id="price" class="price" placeholder="Price" maxlength="6">
              </div>
              <div class="quantity">
                <label for="quantity">Quantity: <span class="formAlert"></span></label>
                <input type="number" id="quantity" class="quantity" placeholder="Available quantity" maxlength="6">
              </div>
            </div>
            <input type="submit" value="Submit">
          </form>

        </div>

      </div>

    </div>
  </div>

  <div class="scroll-top">&#9652;</div>
  <a href="menu.html">
    <div class="user-front">View menu</div>
  </a>

  <footer class="footer">
    &copy; <script>
      document.write(new Date().getFullYear());
    </script> <strong>Fast-Food-Fast</strong> developed & designed by <em>Marcdomain</em>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script src="js/scroll.js"></script>
  <script src="js/fetch/utility.js"></script>
  <script src="js/fetch/post-menu.js"></script>
  <script src="js/fetch/toggle-menu.js"></script>
  <script src="js/fetch/logout.js"></script>
</body>

</html>