<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fast-Food-Fast | Food Items</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/png" href="img/logo.png">
</head>

<body>
  <header>
    <div class="nav-bar">
      <div class="logo">
        <a href="index.html"><img src="img/logo.png" alt=""><span>Fast-Food-Fast</span> </a>
      </div>
      <nav>
        <ul>
          <li class="username"><a href="user-orders.html">Profile <sup>70</sup></a></li>
          <li class="logout"><a href="index.html">Logout</a></li>
          <li class="dropdown">
            <span>&#8801;</span>
            <div class="dropdown-content">
                <a href="user-orders.html">Profile <sup>70</sup></a>
                <a href="index.html">Logout</a>
            </div>
          </li>
      </nav>
    </div>
  </header>
  <div class="banner">

    <div class="banner1">

    </div>

  </div>

  <div class="food-items">
    <section class="food" id="local">
      <div class="category">
        <div class="category-image local-img">
          <div class="category-label">
            <div>LOCAL DELICACIES</div>
          </div>
        </div>
        <div class="items">

          <div class="item">
            <p class="item-title">Eba, Vegetable, Turkey <em>(&#8358; 2000)</em></p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>
          <div class="item">
            <p class="item-title">Wheat, Egusi, Isi-ewu <em>(&#8358; 3000)</em></p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>
          <div class="item">
            <p class="item-title">Pandoyam, Fish, Ogbono <em>(&#8358; 1500)</em></p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="food" id="snacks">
      <div class="category">
        <div class="category-image snacks-img">
          <div class="category-label">
            <div>SNACKS</div>
          </div>
        </div>
        <div class="items">

          <div class="item">
            <p class="item-title">Meat pie <em>(&#8358; 1000)</em></p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>
          <div class="item">
            <p class="item-title">Egg roll <em>(&#8358; 8000)</em></p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>
          <div class="item">
            <p class="item-title">Sausage <em>(&#8358; 700)</em></p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="food" id="rice">
      <div class="category">
        <div class="category-image rice-img">
          <div class="category-label">
            <div>RICE</div>
          </div>
        </div>
        <div class="items">

          <div class="item">
            <p class="item-title">Rice + Turkey</p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>
          <div class="item">
            <p class="item-title">Rice + Chicken</p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>
          <div class="item">
            <p class="item-title">Rice + Beef</p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="food" id="pizza">
      <div class="category">
        <div class="category-image pizza-img">
          <div class="category-label">
            <div>PIZZA</div>
          </div>
        </div>
        <div class="items">

          <div class="item">
            <p class="item-title">Pizza Margherita</p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>
          <div class="item">
            <p class="item-title">Pepperoni</p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>
          <div class="item">
            <p class="item-title">Chicken bacon ranch</p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="food" id="others">
      <div class="category">
        <div class="category-image others-img">
          <div class="category-label">
            <div>OTHERS</div>
          </div>
        </div>
        <div class="items">

          <div class="item">
            <p class="item-title">Coca-cola</p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>
          <div class="item">
            <p class="item-title">5-Alive</p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="text" placeholder="location">
                <input type="number" required class="quantity" placeholder="Qty">
                <input type="submit" value="Send" class="send-order">
              </div>
            </div>
          </div>
          <div class="item">
            <p class="item-title">Hollandia</p>
            <p class="item-description">
              This is delicious. You will surely come for more.
            </p>
            <div class="order-elements">
              <p class="orderNow">Order now</p>
              <div class="order-input">
                <input type="number" class="quantity" placeholder="Qty">
               
                <input type="submit" value="Send">
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>


  <div class="modal my-order">
    <div class="order-summary">
      <span class="close" id="closeOrder" style="color: #e65c00;">&#10062;</span> <br>
      <h4>Eba + Vegetable + Turkey</h4>
      <div class="complete-order">
        <img src="img/delivery-boy.jpg" alt="delivery-boy" class="delivery-boy">
        <div class="order-info">
          <div class="parameter">
            <div>Location</div>
            <div>Price</div>
            <div>Quantity</div>
            <div class="total">Total</div>
          </div>
          <div class="amount">
            <div>Yaba</div>
            <div>&#8358; 2000</div>
            <div>3.00</div>
            <div class="total-amount">&#8358; 6000</div>
          </div>
        </div>
      </div>
      <div class="okay-order">
        <input type="submit" value="Okay">
      </div>
    </div>
  </div>
  
  <div class="scroll-top">&#9652;</div>
  <a href="admin-food-items.html"><div class="user-front">Admin dashboard</div></a>

  <footer class="footer">
    &copy; <script>
      document.write(new Date().getFullYear());
    </script> <strong>Fast-Food-Fast</strong> developed & designed by <em>Marcdomain</em>
  </footer>

  <script src="js/scroll.js"></script>
  <script src="js/order.js"></script>
</body>

</html>