<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fast-Food-Fast | Food Items</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/png" href="img/logo.png">
</head>

<body>
  <header>
    <div class="nav-bar">
      <div class="logo">
        <a href="index.html"><img src="img/logo.png" alt=""><span>Fast-Food-Fast</span> </a>
      </div>
      <nav>
        <ul>
          <li class="username"><a href="user-orders.html">Profile</a></li>
          <li class="logout"><a>Logout</a></li>
          <li class="dropdown">
            <span>&#8801;</span>
            <div class="dropdown-content">
                <a href="user-orders.html">Profile <sup>70</sup></a>
                <a href="index.html">Logout</a>
            </div>
          </li>
      </nav>
    </div>
  </header>
  <div class="pageAlert">

  </div>
  <div class="order-cart" id="cartDiv">
    <span>Deliver to your residence?</span><br>
    <form class="order-form">
      Yes: <input type="checkbox" value="" checked>
      No: <input type="text" placeholder="Input location" class="deliver-to" minlength="5" maxlength="100"><br>
      <input type="submit" value="Submit Order" id="cartBtn">
    </form>
  </div>
  
  <div class="foodContainer">
    
  </div>
  
  <div class="scroll-top">&#9652;</div>
  <a href="admin-food-items.html"><div class="user-front">Admin dashboard</div></a>

  <footer class="footer">
    &copy; <script>
      document.write(new Date().getFullYear());
    </script> <strong>Fast-Food-Fast</strong> developed & designed by <em>Marcdomain</em>
  </footer>

  <script src="js/fetch/utility.js"></script>
  <script src="js/fetch/get-all-menu.js"></script>
  <script src="js/fetch/logout.js"></script>
</body>

</html>