<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fast-Food-Fast | Orders</title>
  <link rel="stylesheet" href="css/orders.css">
  <link rel="icon" type="image/png" href="img/logo.png">
</head>

<body>
  <div class="dashboard">

    <div class="dashboard-menu">
      <div class="menu-top">
        <div class="welcome">
          <a href="food-items.html"><img src="img/logo.png" alt="logo"></a>
          <span><a href="food-items.html">Fast Food Fast</a> </span>
        </div>
        <div class="menu-options">
          <a href="menu.html">
            <div class="menu menu1">View Menu &#10148;</div>
          </a>
          <a href="#">
            <div class="menu" id="allOrders">All Orders &#10148;</div>
          </a>
          <a href="#">
            <div class="menu" id="newOrders">New Orders &#10148;</div>
          </a>
          <a href="#">
            <div class="menu" id="processingOrders">Processing &#10148;</div>
          </a>
          <a href="#">
            <div class="menu" id="cancelledOrders">Cancelled &#10148;</div>
          </a>
          <a href="#">
            <div class="menu" id="completedOrders">Completed &#10148;</div>
          </a>
          <a href="#">
            <div class="menu logout">Logout &#10148;</div>
          </a>
        </div>
      </div>
      <div class="menu-bottom"></div>
    </div>

    <div class="dashboard-content">

      <div class="toggle-menu" id="toggle-menu">
        <strong>options</strong><span>&#10149;</span>
      </div>

      <div class="dashboard-content-bg">
        <div class="pageAlert padAlertDiv"></div>
        <div class="page-title all-orders">
          <div>ORDER HISTORY</div>
        </div>
        <div class="orders-list">
          <table class="all-orders-table">
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Phone</th>
              <th>Location</th>
              <th class="items-head">Order Items</th>
              <th>Total</th>
              <th>Status</th>
            </tr>
          </table>
        </div>

      </div>

    </div>

  </div>
  </div>
  <a href="menu-admin.html" class="admin-view">
    <div class="user-front">Admin dashboard</div>
  </a>
  <div class="scroll-top">&#9652;</div>

  <footer class="footer">
    &copy; <script>
      document.write(new Date().getFullYear());
    </script> <strong>Fast-Food-Fast</strong> developed & designed by <em>Marcdomain</em>
  </footer>

  <script src="js/fetch/utility.js"></script>
  <script src="js/fetch/toggle-menu.js"></script>
  <script src="js/fetch/orders.js"></script>
  <script src="js/scroll.js"></script>
  <script src="js/fetch/logout.js"></script>
</body>

</html>