body {
  padding: 0;
  margin: 0;
  font-family: fantasy;
  font-size: 17px;
  overflow-x: hidden;
}

header {
  background: #e65c00;
  height: 60px;
  color: #004466;
}

.nav-bar .logo {
  float: left;
}

.nav-bar {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  float: right;
  margin-top: 5px
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  margin-left: 20px;
}

nav .username {
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown span {
  text-shadow: 1px 2px #404040;
  color: #fff;
  line-height: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 2;
}

.dropdown:hover .dropdown-content {
  background: rgba(215, 92, 44, 0.5);
  padding: 10px;
  height: 100px;
  width: 120px;
  display: block;
  right: 0;
}

.dropdown-content a {
  margin-top: 15px;
  padding: 5px;
  border-radius: 10px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #004466;
}

nav ul li a:hover {
  background: #e65c00;
}

.banner {
  height: 500px;
  display: flex;
  width: 100vw;
  position: absolute;
}

.banner1 {
  flex: 60%;
  background-image: url('../img/banner1.jpg');
}

.banner2 {
  background-image: url('../img/banner2.jpg');
  background-size: cover;
  flex: 40%;
}

.food-advert {
  position: absolute;
  left: 35%; 
  top: 35%;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  background: rgba(36, 40, 38, 0.8);
}

.page-title span {
  font-style: italic
}

.page-title img, .logo img {
  height: 60px;
  width:45px;
}

.welcome {
  background-image: url('../img/bg-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.welcome-content, .modal {
  background: rgba(36, 40, 38, 0.8);
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center
}

.intro, .auth-btn, .words {
  display: block;
}

.intro{
  height: 350px;
  margin-top: 50px;
}

.intro-content {
  display: inline-block;
  width: 40%;
  margin-left: 5%;
}

.delivery-girl{
  float: left;
}

.delivery-girl img{
  width: 60%;
  height: 100%;
  transform: scaleX(-1);
  float: left;
}

.intro-words{
  padding-top: 10%;
}

.words{
  height: 100px;
}

.progress-bar {
  width: 100%;
  height: 2px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0.4px;
  margin-top: 15px;
}

.progress-color {
  background: #e65c00;
  width: 1%;
  height: 100%;
  border-radius: 10px;
}

.auth-btn input {
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  background: green;
  color: #fff;
  border: none;
  font-size: 17px;
  font-family: fantasy;
  outline: none;
  display: inline-block;
  margin-left: 5%;
  box-shadow: 1px 1px 1px 1px #404040;
}

.login {
  margin-left: 20px;
}

.auth-btn input:hover {
  font-weight: bold;
  box-shadow: 1px 3px 2px 1px #000;
}

.modal {
  z-index: 2;
  display: none;
}

.auth-form {
  background: rgba(122, 56, 36, 0.4);
  width: 500px;
  padding: 40px;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 10%;
  box-sizing: border-box;
  display: none;
}

.form-before-click {
  width: 200px;
  margin-top: 3%;
  transform: rotate(-30deg);
  transition: 1s;
  transition-timing-function: ease-out;
  opacity: 0;
}

.form-after-click {
  transform: rotate(0);
  transition: 1s;
  transition-timing-function: ease-out;
  opacity: 1;
}

.auth-form form label{
  display: block;
  float: left;
  padding: 5px;
}

.auth-form input{
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
}

.auth-form form input[type=submit]{
  background: green;
  color: #fff;
}

.close {
  float: right; 
  box-shadow: 1px 1px 1px 1px gray; 
  border: 1px solid gray; 
  padding: 0 3px; 
  border-radius: 5px;
  cursor: pointer;
}

#login-modal, #signup-modal {
  cursor: pointer;
  text-decoration: underline;
}

.translate-form {
  animation: translate-form 1s ease-out;
  opacity: 1;
}

@keyframes translate-form {
  0%   { 
  transform: translateX(50%); 		
  }
  100% { 
  transform: translateX(0%); 
  }
}

.form-title {
  display: block; 
  font-weight: bold
}

.scroll-div {
  margin-top: 500px;
  display: flex;
  color: #fff;
  justify-content: space-around;
  background: #004466;
  padding-bottom: 5px;
}

.locate-div {
  background: #004466;
  border-radius: 10px;
  box-shadow: 1px 2px 1px 1px gray;
  padding: 10px 20px;
  cursor: pointer;
}

.locate-div:hover {
  transform: scale(1.05);
}

.food {
  height: 200px;
  border: #000 1px solid;
  margin: 30px 0;
}

.scroll-top {
  color: #e65c00; 
  font-size: 20px; 
  position: fixed; 
  bottom: 20px; 
  right: 30px;
  cursor: pointer;
  padding: 0 7px;
  border-radius: 50%;
  background: #efefef;
  box-shadow: 1px 1px 2px 1px #004466;
}

.food-items {
  max-width: 1200px;
  margin: 0 auto;
}

.food-advert .words {
  padding-top: 40px;
}

.category {
  border: #000 1px solid;
  display: flex;
  height: 100%;
}

.category-image {
  flex: 1;
  border: #000 1px solid;
}

.items {
  flex: 3;
  border: #000 1px solid;
  display: flex;
  background: #efefef;
}

.item {
  border: #000 1px solid;
  flex: 1;
}

.item .item-title {
  background: #004466; 
  width: 80%; 
  margin: 0 auto; 
  text-align: center; 
  border-radius: 5px; 
  padding: 5px; 
  color: #fff;
}

.local-img {
  background-image: url('../img/banner2.jpg');
  background-size: cover;
}

.snacks-img {
  background-image: url('../img/snacks.jpg');
  background-size: cover;
}

.rice-img {
  background-image: url('../img/rice.jpg');
  background-size: cover;
}

.pizza-img {
  background-image: url('../img/pizza.jpg');
  background-size: cover;
}

.others-img {
  background-image: url('../img/others.jpg');
  background-size: cover;
}

.footer {
  min-height: 30px;
  background: #e65c00;
  bottom: 0;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

@media(max-width:875px) {
  .auth-btn input{
    margin-left: 0;
  }
}

@media(max-width:600px) {
  .delivery-girl img{
    width: 80%;
  }
}

@media(max-width:500px) {
  .auth-btn input{
    width: 150px;
  }
  .intro{
    height: 300px;
  }
}

@media(max-width:460px) {
  .auth-btn input{
    width: 150px;
  }
  .intro{
    height: 260px;
  }
  .words{
    height: 120px;
  }
}

@media(max-width:420px) {
  .words{
    height: 130px;
  }
}

@media(max-width:380px) {
  .intro-words{
    padding-top: 5%;
  }
}

@media(max-width:355px) {
  .auth-btn input{
    width: 120px;
  }
  .words{
    height: 185px;
  }
  .intro-words{
    padding-top: 0;
  }
}

@media(max-width:275px) {
  .auth-btn input{
    display: block;
    margin-bottom: 10px;
  }
  .login{
    margin-left: 0;
  }
  .auth-btn{
    margin-left: 25%
  }
  .words{
    height: 220px;
  }
}

@media(max-height: 600px) {
  .welcome{
    height: 120vh;
  }
}

@media(max-height: 495px) {
  .welcome{
    height: 130vh;
  }
}

@media(max-height: 455px) {
  .welcome{
    height: 140vh;
  }
}